
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/narutoimage.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Follows Naruto Uzumaki, a young ninja with dreams of becoming the Hokage. The series explores his journey, battles, and growth alongside his friends.</p>
          <a href="https://www.netflix.com/in/title/70205012" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/aot.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>Humanity is on the brink of extinction due to giant humanoid Titans. Eren Yeager and his friends join the fight to uncover the truth behind the Titans..</p>
          <a href="https://www.crunchyroll.com/series/GR751KNZY/attack-on-titan" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/myheroacademy.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>In a world where nearly everyone has superpowers, or "Quirks," Izuku Midoriya aspires to become the greatest hero despite being born Quirkless.</p>
          <a href="https://www.netflix.com/in/title/80135674" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/demonslayer.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Tanjiro Kamado embarks on a quest to save his sister Nezuko, who has been turned into a demon, and to avenge his family by defeating powerful demons.</p>
          <a href="https://www.netflix.com/in/title/81091393" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/bleach.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Ichigo Kurosaki gains the powers of a Soul Reaper to protect the living from evil spirits and guide souls to the afterlife, uncovering dark secrets along the way.</p>
          <a href="https://www.crunchyroll.com/series/G63VGG2NY/bleach" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/onepice.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Monkey D. Luffy and his pirate crew sail the Grand Line in search of the One Piece, a legendary treasure, encountering powerful foes and forming lasting friendships.</p>
          <a href="https://www.netflix.com/in/title/80107103" target="_blank" >Watch</a>
        </div>
      </div>
    </div>
  </div>
  
 
 </div>
