 

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/cowboy.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Set in the year 2071, it follows the adventures of bounty hunters Spike Spiegel and his crew aboard the spaceship Bebop as they chase criminals across the galaxy.</p>
          <a href="https://www.crunchyroll.com/series/GYVNXMVP6/cowboy-bebop" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/gate.webp" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>A group of friends discovers a way to send messages to the past, leading to unintended consequences and a race against time to prevent disaster.</p>
          <a href="https://www.crunchyroll.com/series/GYWE7W5GY/steinsgate" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/neon.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>Teenagers pilot giant mechs called Evangelions to protect Earth from mysterious beings known as Angels, while grappling with their own psychological issues.</p>
          <a href="https://www.netflix.com/title/81033445" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/ghost.webp" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> In a future where cybernetic enhancements are common, Major Motoko Kusanagi and her team tackle high-tech crimes and existential questions about humanity.</p>
          <a href="https://www.netflix.com/jp-en/title/70213091" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/psycho.jpeg " alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> In a dystopian future, the Sybil System determines the criminal potential of citizens, and law enforcement officers like Akane Tsunemori uphold justice based on these assessments.</p>
          <a href="https://www.crunchyroll.com/series/GR75253JY/psycho-pass" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/akira.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>In a post-apocalyptic Tokyo, a biker gang member, Tetsuo, gains psychic powers, leading to chaos and a government conspiracy that his friend Kaneda must stop.</p>
          <a href="https://www.primevideo.com/detail/Akira/0RIFVB6EJ5KUPXTV4SZS1KDHOB" target="_blank" >Watch</a>
        </div>
      </div>
    </div>
  </div>
  
 
 </div>
