<nav class="navbar navbar-expand-lg bg-body-tertiary ">
   
  <div class="container-fluid ">
    <a class="navbar-brand fs-5 fw-bold" href="#"  ><span class="fs-2">A<span class="text-danger">O </span></span> 
       <span class="title"> Anime</span><span class="text-danger title">One</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    <div class="collapse navbar-collapse mx-5 fs-4 fw-bold " id="navbarNavDropdown"> 
      <ul class="navbar-nav">
        <li class="nav-item">
           <a class="nav-link "   routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="action">Action</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"   routerLink="romance">Romance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="scifi">SciFi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="fantasy">Fantasy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="feedback">Add&nbsp;Anime</a>
        </li>
      </ul>
    </div>
</nav>




