.main{
  position: relative;
  height: 70vh;
  width: 80vw;
  background: transparent;
  margin-top: 40px;
  left: 150px;
  border-radius: 40px;
  
  background-image: url('https://cdn.myanimelist.net/images/about_me/main_visual/5349225-3bd8888a-1b2f-4a11-ab97-16334c09b52f.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 94px -64px 151px 51px rgba(0,0,0,0.86);
  -moz-box-shadow: inset 94px -64px 151px 51px rgba(0,0,0,0.86);
  box-shadow: inset 94px -64px 151px 51px rgba(0,0,0,0.86);
   
   
  transition: ease-in-out 1s ;
}
.main:hover{
  box-shadow: none;
}

 

.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  padding-bottom: 50px;
}
span {
  color: red;
  font-size: 20px;
}
p {
  font-size: 17px;
  font-weight: 700;
  margin: 0  !important;
  padding-bottom: 10px;
  
}

.card {
  height: 350px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 20px;

  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.textofanime {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 390px;
  
}

button {
  border-radius: 10px;
  padding: 0 30px;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  font-size: 15px;
  box-shadow: 2px 2px 5px rgb(0, 115, 255);
}
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 0, 0);
}
img{
  width: 400px;
  height: 180px;
  border-radius: 20px;
}
