.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}
span {
  color: red;
  font-size: 20px;
}
p {
  font-size: 17px;
  font-weight: 700;
  
}

.cards {
  height: 350px;
  width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 20px;

  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.textofanime {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 390px;
  
}

button {
  border-radius: 10px;
  padding: 0 30px;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  font-size: 15px;
  box-shadow: 2px 2px 5px rgb(0, 115, 255);
}
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 115, 255);
}
img{
  width: 400px;
  height: 180px;
}
