 
<div class="container ">
 <div class="card">
  <div class="image">
    <img src="./assets/action/action.jpeg" alt="action">
  </div>
  <div class="textofanime">
     <p><span>Category </span> : Action</p>
     <p> <span>Anime</span> : Naruto, Attack on Titan, My Hero Academia,Demon Slayer,Bleach </p>
      
      <button>
        <a routerLink="/action">click</a>
      </button>
  </div>
 
 </div>
 <div class="card">
  <div class="image">
    <img src="./images/romance.jpeg" alt="action">
  </div>
  <div class="textofanime">
    <p ><span>Category </span> : Romance</p>
    <p > <span>Anime</span> : Steins;Gate,Neon Genesis Evangelion, Ghost in the Shell </p>
     
     <button>
       <a routerLink="/romance">click</a>
     </button>
 </div>

 </div>
 <div class="card">
  <div class="image">
    <img src="./images/fantasy.jpg" alt="action">
  </div>
  <div class="textofanime">
    <p><span>Category </span> : Fantasy</p>
    <p> <span>Anime</span> :Brotherhood,Fairy Tail,Sword Art Online,The Rising of the Shield Hero </p>
     
     <button>
       <a routerLink="/fantasy">click</a>
     </button>
 </div>

 </div>
 <div class="card">
  <div class="image">
    <img src="./images/scifi.jpeg " alt="action">
  </div>
  <div class="textofanime">
    <p ><span>Category </span> : Scifi</p>
    <p > <span>Anime</span> : Cowboy Bebop, Steins;Gate, Neon Genesis Evangelion,Psycho-Pass </p>
     
     <button>
       <a routerLink="/scifi">click</a>
     </button>
 </div>
 </div>
  
</div>
 
 
