 
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/fullmetal.webp" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Brothers Edward and Alphonse Elric use alchemy to search for the Philosopher's Stone to restore their bodies after a failed transmutation attempt.</p>
          <a href="https://www.netflix.com/jp-en/title/70204981" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/farytail.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>Members of the Fairy Tail guild, including Natsu Dragneel and Lucy Heartfilia, embark on magical adventures filled with friendship and epic battles.</p>
          <a href="https://www.crunchyroll.com/series/G6DQDD3WR/fairy-tail" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src=" ./images/sao.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>Players trapped in a virtual reality MMORPG must clear the game's levels to escape, facing life-and-death challenges along the way.</p>
          <a href="https://www.crunchyroll.com/series/GR49G9VP6/sword-art-online" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src=" ./images/sheldhero.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Naofumi Iwatani is summoned to another world as the Shield Hero and must protect the kingdom while overcoming betrayal and prejudice.</p>
          <a href="https://www.crunchyroll.com/series/G6W4QKX0R/the-rising-of-the-shield-hero" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/rezero.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Subaru Natsuki is transported to a fantasy world where he discovers he has the ability to return from death, using it to save his friends from various threats.</p>
          <a href="https://www.netflix.com/in/title/80131659" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/madeinabyss.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Riko and Reg explore the depths of the Abyss, a massive chasm filled with ancient relics and dangerous creatures, in search of Riko's mother.</p>
          <a href="https://www.netflix.com/in/title/80193163" target="_blank" >Watch</a>
        </div>
      </div>
    </div>
  </div>
  
 
 </div>
  