 

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/youlieinapril.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>After his mother's death, a piano prodigy loses his ability to hear music, but a spirited violinist helps him rediscover his love for music and life.</p>
          <a href="https://www.crunchyroll.com/series/G63V7KN9Y/your-lie-in-april" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/clannd.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>A delinquent boy, Tomoya, meets a strange girl, Nagisa, who changes his outlook on life, leading to a touching journey through love and hardship.</p>
          <a href="https://www.amazon.com/Clannad-After-Story/dp/B01MU8ZR7D" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/torando.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>Ryuuji and Taiga, two high school students with crushes on each other's best friends, team up to help each other while navigating their own complicated feelings.</p>
          <a href="https://www.netflix.com/title/80049275" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/furitsbasket.webp" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Orphaned Tohru Honda becomes entangled with the cursed Sohma family, who transform into animals of the Chinese zodiac when hugged by the opposite gender</p>
          <a href="https://www.crunchyroll.com/series/G6ZJMGEXY/fruits-basket" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/kimiko.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span>Shy and misunderstood Sawako befriends the popular boy Kazehaya, leading to a sweet and genuine romance as they help each other grow.
          </p>
          <a href="https://www.netflix.com/in/title/80236253" target="_blank" class= >Watch</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card dropshadow">
        <div class="img">
          <img src="./images/lovlycomplex.jpeg" alt="naruto">
        </div>
        <div class="textofanime">
          <p><span>Intro : </span> Risa and Otani, both struggling with their height complexes, form an unlikely friendship and eventually a romance despite their comedic and awkward differences.</p>
          <a href="https://www.crunchyroll.com/series/GR79XXJV6/lovely-complex" target="_blank" >Watch</a>
        </div>
      </div>
    </div>
  </div>
  
 
 </div>
